<%= stylesheet_link_tag 'new_article.css' %>

<div class="box-create-article">
  <div class="input-box">
    <label for="title-article">Titulo do artigo</label>
    <input type="text" name="title-article" id="title-article"/>
  </div>
  <div class="input-box">
    <label for="content-article">Titulo do artigo</label>
    <textarea name="content-article" id="content-article" cols="30" rows="10"></textarea>
  </div>
  <button>criar!</button>
</div>